---
import type { MetaData } from '@/types/seo'
export interface Props extends MetaData {}

const {
  title,
  description,
  url,
  image,
  robots,
  author,
  publisher,
  keywords,
  ogType,
  siteName,
  twitterCard,
  twitterCreator,
  themeColor,
} = Astro.props
---
<title>{title}</title>
{description && <meta name="description" content={description} />}
{robots && <meta name="robots" content={robots} />}
{author && <meta name="author" content={author} />}
{publisher && <meta name="publisher" content={publisher} />}
{keywords && <meta name="keywords" content={keywords} />}
<link rel="canonical" href={url} />
{themeColor && <meta name="theme-color" content={themeColor} />}

<!-- OpenGraph -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content={ogType || "website"} />
<meta property="og:url" content={url} />
<meta property="og:image" content={image} />
<meta property="og:image:alt" content='image alt text' />
<meta property="og:image:type" content='png' />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{siteName && <meta property="og:site_name" content={siteName} />}
<meta property="og:locale" content="en" />

<!-- Twitter -->
{twitterCard && <meta name="twitter:card" content={twitterCard} />}
<meta name="twitter:url" content={url} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
<meta name="twitter:image:alt" content='alt image X' />
{twitterCreator && <meta name="twitter:creator" content={twitterCreator} />}